apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-env
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  NODE_ENV: "production"
  url: {{ include "app.ghostUrl" . | quote }}
  {{- if .Values.ghost.adminUrl }}
  admin__url: {{ .Values.ghost.adminUrl | quote }}
  {{- end }}

  {{- if .Values.mariadb.enabled }}
  database__client: "mysql"
  database__connection__host: {{ include "app.mariadbHost" . | quote }}
  database__connection__user: {{ .Values.mariadb.auth.username | quote }}
  database__connection__database: {{ .Values.mariadb.auth.database | quote }}
  {{- end }}

  {{- if .Values.mail.enabled }}
  mail__transport: {{ .Values.mail.transport | quote }}
  mail__from: {{ .Values.mail.from | quote }}
  {{- if .Values.mail.options.host }}
  mail__options__host: {{ .Values.mail.options.host | quote }}
  {{- end }}
  {{- if .Values.mail.options.port }}
  mail__options__port: {{ .Values.mail.options.port | quote }}
  {{- end }}
  {{- if .Values.mail.options.secure }}
  mail__options__secure: "true"
  {{- end }}
  {{- end }}

  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
