apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 2368
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ printf "%s-env" (include "app.fullname" .) | trunc 63 | trimSuffix "-" }}
          env:
            - name: database__connection__password
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mariadb.auth.existingSecret }}
                  key: {{ .Values.mariadb.auth.secretKeys.userPasswordKey }}
          volumeMounts:
            - name: ghost-content
              mountPath: /var/lib/ghost/content
          livenessProbe:
            httpGet:
              path: /ghost/api/admin/site/
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ghost/api/admin/site/
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: ghost-content
          persistentVolumeClaim:
            claimName: {{ include "app.fullname" . }}-content
